body {
    margin: 0;
    padding: 0;
    background: url('../images/background.jpg');
    font-family: Arial;
    font-size: 14px;
}

#header {
    background: black;
    padding: 10px;
    overflow: hidden;
}

#logo {
    color: white;
    font-weight: bold;
    font-size: 30px;
    float: left;
}

#logo span {
    font-weight: normal;
}

#top-menu {
    float: right;
}

#top-menu img {
    width: 30px;
}

#top-menu a {
    padding-right: 10px;
}

.core-item {
    margin: 10px;
    float: left;
    box-shadow: 0px 0px 5px 2px black;
}

.core-item {
    font-size: 40px;
}

.core-item .text {
    margin-top: 80%;
}

.core-item a,
.core-item a:visited {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

a,
a:visited {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: crimson;
    text-decoration: none;
}

.core-item:hover,
.core-item:hover a,
.core-item:hover a:hover {
    color: black;
    cursor: pointer;
}

#main-menu {
    width: 80%;
    overflow: hidden;
}

#Filme {
    width: 300px;
    height: 300px;
}

#applications-menu img {
    width: 50px;
}

h2 {
    text-transform: uppercase;
    color: white;
    text-align: left;
    padding: 10px 10% 10px 10%;
    background: url('../images/background.png');
}

#apps {
    padding: 0;
    margin: 0;
}

#apps li {
    display: inline-block;
    list-style: none;
}

#goodreads,
#youtube {
    width: 80%;
    color: white;
    margin-top: 20px;
}

#goodreads th {
    padding:10px;
    border-bottom: 1px solid black;
}

#goodreads td,
#youtube td {
    text-align: center;
    background: url(../images/background.png);
}

input[type=text] {
    padding: 10px;
    border: none;
    box-shadow: 0px 0px 5px 2px gray;
    border-radius: 2px;
}

input[type=submit] {
    background: black;
    box-shadow: 0px 0px 5px 2px black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 2px;
}

input[type=submit]:hover {
    background: crimson;
    box-shadow: 0px 0px 5px 2px crimson;
    color: black;
    cursor: pointer;
}